body{
	margin: 0;
	padding: 0;
	background: no-repeat url("downloads.jpg");
	background-size: cover;
}

a{
	text-decoration: none;
	color: black;
}


input{
	border-radius: 25px;
	padding: 20px 5px;
	margin: 5px;
	text-align: center;
	width: 60%;
	border: 1px solid;
	border-color: grey;
	font-weight: bolder;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);

}

input:hover{
	border-radius: 0px;
}

.submit{
	margin-top: 10px;
	border-radius: 50px;
	padding: 10px 20px;
	width: 25%;
	font-size: 20px;
	font-weight: bolder;
	background-color: #ff99ff;
	border: 0px;
}

.login_border{
    margin: auto;
    width: 60%;
    height: auto;
	padding: 2% 5%;
	background:  white;
	border-radius: 50px;
}

.heading{
	text-align: center;
	font-size: 50px;
	margin-top: 50px;
	font-weight: bolder;
	font-family: sans-serif;
}

.form_input{
	text-align: center;
	margin-top: 20px;
}

.login_with{
	text-align: center;
	margin-top: 30px;
}

.or_login_with{
	font-family: sans-serif;
	font-size: 15px;
	color: #d9d9d9;
	font-weight: bolder;
}

.fb{
	border-radius: 40px;
}

.signup{
	text-align: center;
	font-size: 30px;
	margin-top:20%;
	font-weight: bolder;
	font-family: sans-serif;
}

@media screen and (max-width: 600px){
	.login_border{
		width: 100%;
		margin: 0;
		border-radius: 0;
	}

	input{
		width: 70%;
	}

	.submit{
		width: 30%;
	}

	.login_with{
		margin-top: 50px;
	}

}