*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: aquamarine;
}

header{
    background: #000;
    height: 66px;
}

header *{
    color: white;
}

header .logo{
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .logo img{
    float: left;
    margin: 9px;
}

header .logo-text{
    float: left;
    margin: 9px;
    font-family: cursive;
}

header .logo-text span{
    color: mediumblue;
    font-family: 'Courier New', Courier, monospace;
}

header ul{
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

header ul li{
    float: left;
    position: relative;
}

header ul li ul{
    position: absolute;
    top: 66px;
    right: 0;
    width: 180px;
    display: none;
}

header ul li:hover ul{
    display: block;
}

header ul li:active ul{
    display: block;
}

header ul li ul li{
    width: 100%;
}

header ul li ul li a{
    padding: 10px;
    background: black;
}

header ul li ul li a.logout{
    color: red;
}

/* header ul li ul li a:hover{
    background: black;
} */

header ul li a{
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover{
    background: rgb(100, 3, 3);
}

header .menu-toggle{
    display: none;
}

/* media query */

@media only screen and (max-width:900px){
    header ul li a{
        padding: 21px 10px;
    }
}

@media only screen and (max-width:750px){
    header ul{
        width: 100%;
        background: #000;
        display: none;
    }

    header ul li{
        width: 100%;
    }

    header ul li ul{
        position: static;
        display: block;
        width: 100%;
    }

    header ul li ul li a{
        padding:5px;
        padding-left: 50px;
    }

    header .menu-toggle{
        display: block;
        right: 20px;
        top: 10px;
        font-size: 1.5em;
    }
}