*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
    background: aqua;
}

.sidebar{
    float: left;
    width: 33%;
    height: 100%;
    background: cornsilk;
}

.main-content{
    float: left;
    width: 67%;
    height: 100%;
}

.main-content .welcome{
    width: 100%;
    text-align: center;
}

.main-content .welcome p{
    margin: 5px auto;
    font-size: 30px;
    color: coral;
}

.main-content .welcome p span{
    color: cyan;
    text-transform: uppercase;
}

.main-content .response{
    width: 100%;
}

.buttons{
    display: block;
    width: 100%;
    text-align: center;
}

.buttons a{
    margin:10px auto;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    text-transform: capitalize;
    color: brown;
}